.swipebuttons{
    position: fixed;
    bottom: 5vh;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.swipebuttons .MuiIconButton-root{
    background-color: white;
    box-shadow: 0px 10px 53px 0px rgba(0,0,0,0.3) !important;
}
.swipebuttons__repeat{
    padding: 3vh !important;
    color: #f5b748 !important;
}

.swipebuttons__star{
    padding: 3vh !important;
    color: #bf50ce !important;   
}
.swipebuttons__left{
    padding: 3vh !important;
    color: #bfd831 !important;   
}
.swipebuttons__right{
    padding: 3vh !important;
    color: #48f56e !important;   
}
.swipebuttons__lighting{
    padding: 3vh !important;
    color: #312b20 !important;   
}